*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient(90deg, #1163c6, #5fb8e9);
    padding-top: 100px;
}

#logo{
    width: 100%;
}

main{
    background-color: white;
    width: 50%;
    height: 50%;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 1px 20px black;
}

h1{
    text-align: center;
    color: #1163c6;
    font-weight: bolder;
    text-shadow: #5fb8e9 1px 2px 5px ;
}

p{
    text-align: center;
}

input{
    padding: 5px;
    width: 100%;
    border-radius: 50px;
    border: 3px solid #1163c6;
}

button{
    padding: 15px;
    background-color: #1163c6;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 3px 5px 1px #5fb8e9;
    cursor: pointer;
    transition-property: color, background-color;
    transition-duration: .3s;
}

button:hover{
    background-color: #5fb8e9;
    color: white;
    box-shadow: 3px 5px 1px #1163c6;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#qr-code{
    width: 100%;
}

.qr-code{
    width: 200px;
    display: none;
}

.active{
    display: flex;
}
